#heading-trending{
    color: #fff;
    font-size: 2rem;
    font-weight: 200;
    padding: 2rem;
}

#trending-scroller, #trending-group{
    display: grid;
    grid-auto-flow: column;
    gap: 2.5rem;
}

#trending-scroller{
    grid-auto-columns: 100%;
    padding: 0 2rem  0 2rem;
}

#trending-scroller:hover{
    overflow:auto;
}

#trending-scroller::-webkit-scrollbar {
    height: 6px; 
}
  

#trending-scroller::-webkit-scrollbar-track {
    background-color: #161D2F;
    border-radius: 6px;
}
  
#trending-scroller::-webkit-scrollbar-thumb {
    background-color: #10141E; 
    border-radius: 6px;
    border: 1px solid #f1f1f1;
    min-height: 30px;
  }
  
#trending-scroller::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

@media only screen and (max-width: 1024px) {
    #heading-trending{
        padding: 2rem 0 2rem 0;
    }
    #trending-scroller {
        padding: 0;
    }
}
@media only screen and (max-width: 440px) {
    #heading-trending{
       font-size: 1.25rem;
    }
    #trending-scroller {
        padding: 0;
    }

    #trending-subImg{
        padding: 1rem;
    }
    
    .trending-item{
        width: 240px;
        height: 140px; 
    }

    .trending-movie-information{
        width: 60%;
        font-size: 0.75rem;
    }

    .trending-movie-name{
        margin-top: 0.4rem;
        font-size: 0.93rem;

    }
}