#login{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

#login-container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #161D2F;
    flex-direction: column;
    width:  400px;
    height: 373px;
    border-radius: 20px;
    margin-top: 6rem;
    padding: 2rem;
}

#login-container h1{
    font-size: 2rem;
    color: white;
    font-weight: 200;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    height: 80%;
}

.custum-input{
    border: none;
    border-bottom: 2px solid #333; 
    outline: none;
    padding: 3px 0;
    font-size: 1rem;
    background: transparent;
    color: white;
    width: 100%;
}

.btn-form{
  width: 100%;
  height: 48px;
  color: white;
  background-color: #FC4747;
  border-radius: 5px;
  font-size: 1rem;
}

.btn-form:hover{
  background-color: white;
  color: #000;
}

form > p{
  font-size: 1rem;
  color: white;
}

.link-paragraph{
  color:#FC4747;
  margin-left: 9px;
}