#modal-box{
     display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background-color: #161D2F;
    border-radius: 1rem;
    width: 30rem;
    height: 15rem;
    padding: 2rem;
}


#modal-box h1{
    color: white;
}

#modal-box p{
    color: white;
}

#modal-btns{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    height: 48px;
}

.modal-btn-login{
    width: 35%;
    height: 100%;
    background-color: white;
    color: #161D2F;
    border-radius: 5px;
    font-size: 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-btn-signUp{
    width: 35%;
    height: 100%;
    color: #161D2F;
    background-color: #FC4747;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    #modal-box{
        width: 25rem;
        height: 13rem;
    }
    #modal-box h1{
        font-size: 2rem;
    }

    #modal-box p{
        font-size: 0.7rem;
    }
  }

  @media only screen and (max-width: 640px) {
    #modal-box{
        width: 20rem;
        height: 8rem;
        padding: 1rem;
    }
        #modal-box h1{
        font-size: 1.5rem;
    }

    #modal-box p{
        font-size: 0.7rem;
    }
  }