#profile-page{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;

}

#profile-popUp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 500px;
    width: 500px;
    background-color: #161D2F;
    border-radius: 1rem;
    padding: 2rem;
}

.email-popup{
    font-size: 1.12rem;
    color: white;
}