#content-group{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    gap: 2rem;
    height: 100%;
    padding: 0 2rem 0 2rem;
}

#content{
    position: relative;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
   
}

#image-bookmark{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(16, 20, 30, 0.5);
    border-radius: 50%;
    position: absolute;
    width: 2rem;
    height: 2rem;
    right: 1rem;
    top: 1rem;
    z-index: 99999;

}
#image-content{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

@media only screen and (max-width:1024px) {
    #content-group{
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        padding: 0;
    }
}

@media only screen and (max-width:620px) {
    #content-group{
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    }
}