body{
  background-color: #10141E;
  font-family: "Outfit", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100%;
}
#container{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  padding: 2rem;
}

main{
  min-height: 100%;
  width: 95%;
}

@media only screen and (max-width: 1024px) {
  main{
    width: 100%;
  }
  #container{
    flex-direction: column;
  }
}

@media only screen and (max-width: 440px) {

  #container{
    padding: 0.5rem;
  }
}