body{
  background-color: #10141E;
  font-family: "Outfit", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}
#container{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  padding: 2rem;
}

main{
  min-height: 100%;
  width: 92%;
}

@media only screen and (max-width: 1024px) {
  #container{
    flex-direction: column;
  }
}
